.btns{
    position: relative;
    a{
        text-decoration: none;
        color:$white;
        font-family: $head-font;
        font-size: 16px;
        font-weight: 400;
        transition: $tr;
        &:hover{
            color: $primary !important;
        }
    }
    // &::after{
    //     position:absolute;
    //     content: '';
    //     clear: both;
    //     display: block;
    //     height: 100%;
    //     width: 100%;
    //     background-color: rgba(113, 57, 57, 0.213);

    // }

}